.wrapper {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

ul {
  display: flex;
  a {
    padding: 15px;
  }
}
