@import "./reset.scss";
@import "./_variables.scss";

// general styling
body {
  font-size: 16px;
}

// 본문 content 최소영역 확보
.entireWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}
